# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Node.js Package

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14.x'
          registry-url: 'https://registry.npmjs.org/'
      - run: npm ci --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
      - run: npm test --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
      - run: npm rebuild && npm run prepare --if-present
      
  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14.x'
          registry-url: 'https://registry.npmjs.org/'
      - run: npm ci --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
      - run: npm run build
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
      - run: npm rebuild && npm run prepare --if-present
